<div class="container bg-primary header">
		<div class="row">
			<div class="col-lg-4">
				<nav class="navbar navbar-expand-sm text-white">
					<ul class="navbar-nav">
					    <li class="nav-item">
					      <a class="nav-link text-white" href="#">Home</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link text-white" href="#">News</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link text-white" href="#">AoutUs</a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link text-white" href="#">ContactUs</a>
					    </li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="container section">
		<div class="row">
			<div class="col-lg-9">
				<h2 class="text-primary"><b><u>Step by StepWeb Design Guide</u></b></h2>
				<p>This was posted on the 1st of January 2013 by ieatcss</p>
				<p  class="text-justify">This ebook is not same as 1000s of other web design books in the Market. It is aimed at complete beginners, and assumes that you have no web design experience whatsoever. Don't worry, if you have no knowledge about web design! Basics of web technologies (html and css) are covered on first few sections.</p>
				<p class="text-justify">In this ebook you will learn how to use Zurb Foundation Framework for advance web designing. It is the only ebook available in the internet which teaches advance web design using 3 real life scenario sample websites with step by step explanations.</p>
				<h2 class="text-primary"><a><u>What is Zueb Foundation Framework?</u></a></h2>
				<p>This was posted on the 2nd of January 2013 by ieatcss.</p>
				<p  class="text-justify">Zurb Foundation is the most advanced responsive front-end framework in the world. Foundation 4 offers a free collection of tools to create complex responsive websites easily. It contains HTML and CSS based design templates for Grids, Buttons, Forms, UI elements, Typography and much more.</p>
				<p  class="text-justify">It has Flexible, efficient layout. In simple words, Zurb Foundation is what you need to start your web design carrier.</p>
			</div>
			<div class="col-lg-3">
				<h2 class="text-primary"><a><u>Navigation</u></a></h2>
				<ul class="nav flex-column">
				    <li class="nav-item">
				      <a class="nav-link" href="#">Home</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">News</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">AboutUs</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">ContactUs</a>
				    </li>
				</ul>
				<br><br>
				<table class="table table-border bg-light">
					<tbody>
						<tr>
							<td>
								<h2 class="text-primary"><u>Featured</u></h2><br>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod expedita distinctio.</p><br>
								<a href="#">Read More&gt;&gt;</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>
	<div class="container bg-primary footer">
		<div class="row">
			<div class="col-lg-12">
				<p class="text-white text-center copy">Copyright (C) 2013 -www.ieatcss.com</p>
			</div>
		</div>
	</div>
